@import "./post/posts";
@import "./post/create";
@import "./post/edit";
@import "./post/show";

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #f0f0f0;
    height: 100%;
    color: #333;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    &__title {
    }
    &__list {
        display: flex;
        gap: 20px;
    }
    &__link {
        padding: 5px 0;
        color: #333;
        text-decoration: none;
        &:hover {
            color: #007bff;
        }
    }
}

.container {
    height: 100%;
    min-height: 100vh;
}
